body {
    margin: 0;  
    text-align: center;
  }

hr {
    border: 1px solid goldenrod;
    width: 60%;

}

.Heading {
    padding: 10px;
    font-family: 'Nabla', cursive;
}

.Heading__img{
    position: absolute;
    
}

.face {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.headerName {
    text-align: center;
    font-size: 100px;

}

section, aside {
    float: left;
    padding: 1%;
    width: 40%;

}

section, aside {
    float: left;
    padding: 1%;
    width: 40%;

}

section, aside {
    float: left;
    padding: 1%;
    width: 40%;

}

.Footing {
    text-align: center;
    clear: both;
    background-color: lightgrey;
    border-radius: 5%;
}

.contact {
    font-family: 'Nabla', cursive;
}

.left {
    float: center;
    text-align: center;
}

